@tailwind base;
@tailwind components;
@tailwind utilities;

body, .your-swiper-container-class {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden ;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
    margin-bottom: 0;
}

.banner {
    margin-top: 0;
}

.copyright-section {
    padding-top: 45px;

}
.sticky-footer{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main-content-sticky{
    flex: 1;
}

.swiper-container {
    width: 100%;
    overflow: hidden;
}

.calendar-container {
    overflow-x: auto; /* Enable side-to-side scrolling on mobile */
    overflow-y: hidden; /* Prevent unnecessary vertical scrolling */
    width: 100%; /* Take full width of the parent */
    height: 80vh; /* Maintain the calendar's height */
}

.react-big-calendar{
    min-height: 600px;
    height: 100%;
}

.swiper-slide {
    width: 300px;
}

.swiper-wrapper {
    display: flex !important;
    transition-timing-function: linear !important;
}

.swiper-slide {
    height: auto !important;
}

.calendar-page-container {
    overflow-x: auto; /* or 'visible' depending on your needs */
}


.rbc-event {
    white-space: nowrap; /* Prevent wrapping of event title */
    overflow: hidden; /* Hide overflowing text in the event */
    text-overflow: ellipsis; /* Show "..." for truncated text */
}

@media (max-width: 768px) {
    .rbc-event {
        font-size: 10px; /* Reduce font size for mobile */
    }

    .react-big-calendar {
        font-size: 12px; /* Slightly smaller calendar font for mobile */
    }
}

.swiper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}


@media (max-width: 639px) {
    .swiper-slide {
        width: 100% !important;
        box-sizing: border-box;
    }
}

.swiper-slide {
    height: auto !important;
}


